:root {
  --black: #0d1b2a;
  --dark-blue: #1b263b;
  --mid-blue: #415a77;
  --light-blue: #778da9;
  --beige: #e0e1dd;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 10vh 1fr 10vh;
}

h1 {
  color: var(--beige);
  font-family: "Staatliches", cursive;
  font-size: 5rem;
}

h2 {
  color: var(--beige);
  font-family: "Staatliches", cursive;
  font-size: 3rem;
  white-space: nowrap;
}

h3 {
  color: var(--black);
  font-family: "Staatliches", cursive;
  margin-left: 0.2rem;
  margin-bottom: 0.4rem;
}

p + h3 {
  margin-top: 0.2rem;
}

p {
  font-family: "Raleway", sans-serif;
}

li {
  font-family: "Raleway", sans-serif;
  color: var(--black);
  margin-left: 0.2rem;
}

button {
  font-family: "Staatliches", cursive;
  color: var(--beige);
  background-color: var(--dark-blue);
  outline: none;
  font-size: 1.3rem;
  width: 10vw;
  height: 7vh;
  margin: 0.5rem;
}

header {
  background-color: var(--black);
  display: flex;
}

.header-flex-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-text {
  text-decoration: none;
  color: var(--beige);
  font-family: "Raleway", sans-serif;
}

.back-button {
  margin-right: auto;
  text-decoration: none;
  color: var(--beige);
  font-family: "Staatliches", cursive;
  font-size: 3rem;
  padding-top: 0;
  padding: 1rem;
  background-color: var(--mid-blue);
}

.back-button:hover {
  background-color: var(--light-blue);
}

.shops-button {
  background-color: var(--light-blue);
  padding: 0.8rem;
  margin-right: 0.8vw;
  margin-left: auto;
}

.shops-button:hover {
  background-color: var(--mid-blue);
}

.about-main {
  background-color: var(--beige);
}

.about-main p {
  color: var(--black);
  margin-left: 0.2rem;
}

.cars-main {
  display: grid;
  grid-template-rows: repeat(4, 80vh);
  text-align: center;
  background-color: var(--black);
}

.cars-main p {
  margin-left: auto;
  margin-right: auto;
  max-width: 30ch;
  color: var(--beige);
}

#dominator {
  background-image: url("Dominator.jpg");
  background-position: left 0 top -3vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#dominator h1 {
  margin-top: 11vh;
}

#huntley {
  background-image: url("Huntley.jpg");
  background-position: left 0 top -37vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#huntley h1 {
  margin-top: 12vh;
}

#asea {
  background-image: url("Asea.jpg");
  background-position: left 0 top -32vh;
  background-repeat: no-repeat;
  background-size: cover;
}

#asea h1 {
  margin-top: 1vh;
}

#turismo {
  background-image: url("Turismo.jpg");
  background-position: left 0 top -35vh;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: var(--dark-blue);
  display: flex;
  justify-content: space-between;
}

footer ul {
  list-style: none;
  display: flex;
  align-items: center;
}

footer p {
  align-self: flex-end;
  margin: 0.3rem;
  color: var(--beige);
}

footer img {
  margin-left: 1.5vw;
  height: 9vh;
}

/*

font-family: "Staatliches", cursive;
font-family: "Raleway", sans-serif;

*/
